name: Build Tweak
on: [push, pull_request, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Theos
        uses: Randomblock1/theos-action@v1
        with:
          theos_sdks: https://github.com/theos/sdks

      - name: Build Package
        run: make package FINALPACKAGE=1

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: FixAudioTikTok
          path: packages/*.deb
